.dropdown-container {
  max-width: 250px;
  margin: 40px auto;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  color: rgb(247, 247, 247);
  cursor: pointer;
}

.menu-title {
  background-color: rgb(163, 162, 162);
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(99, 97, 97);

  display: none;
  transform-origin: top;
    animation-duration: 1s;
  animation-name: drop-down;
  animation-iteration-count: 1;

}

ul.dropdown-menu li:hover {
  background: rgb(47, 46, 46);
}

.visible {
  display: block;
}

@keyframes drop-down {
  0% {
    transform: scaleY(0)
  }

  66% {
    transform: scaleY(1.15)
  }

  100% {
    transform: scaleY(1)
  }
}